<div class="login">
  <h1>Đăng ký</h1>
  <form method="post" action="/register">
    <input type="text" name="f" placeholder="First Name" required="required" />
    <input type="text" name="l" placeholder="Last Name" required="required" />
    <input type="text" name="u" placeholder="UserName" required="required" />
    <input type="email" name="e" placeholder="Email" required="required" />
    <input
      type="password"
      name="p"
      placeholder="Password"
      required="required"
    />
    <input
      type="password"
      name="cp"
      placeholder="Confirm Password"
      required="required"
    />
    <Button type="submit" class="btn btn-primary btn-block btn-large">
      Đăng ký
    </Button>
  </form>
</div>